.flexContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }


.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}



.flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Align items at the start of the cross axis */
  gap: 20px; /* Adjust the gap between items as needed */
}

#word-cloud, #word-cloud1 {
  width: 50%; /* Adjust the width of word clouds as needed */
  max-width: 100%; /* Ensure the word cloud width doesn't exceed the container width */
}

#horizontal-bar-chart, #horizontal-bar-chart1 {
  width: 50%; /* Adjust the width of bar charts as needed */
  max-width: 100%; /* Ensure the bar chart width doesn't exceed the container width */
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: #69b3a2;
}

.x-axis path {
  display: none;
}

.y-axis path,
.y-axis line {
  fill: none;
  stroke: #000;
}

.y-axis text {
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.6;
}
        
.node {
  font: 10px sans-serif;
}
        
.node:hover {
  cursor: pointer;
}
        
.text-background {
  fill: white;
}
        
.text-label {
  pointer-events: none;
}

.x-label {
  font-size: 14px;
}

.y-label {
  font-size: 14px;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 400px; /* Adjust max-width as needed */
  height: auto;
  max-width: 300px; /* Adjust max-width as needed */
  margin-top: 10px;
  margin-bottom: 10px;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.container {
  width: 400px;
  height: 300px;
}